body {
  color: #222;
}

img {
  max-width: 100%;
}
main {
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.4rem;
}

header nav {
  display: flex;
  gap: 20px;
}

div.post {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 20px;
  margin-bottom: 50px;
}

@media (max-width: 932px) {
  div.post {
    grid-template-columns: 1fr;
  }
}

div.post div.texts h2 {
  margin: 0;
}
